.nav {
  display: flex;
  width: 100%;
  background: rgb(255, 255, 255);
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  ul {
    display: flex;
    li {
      padding: 10px;
    }
  }
  .dark-mode-toggle {
    button {
      border: 0;
      background: transparent;
      font-size: 20px;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }
  }
}

.dark-mode {
  .nav {
    background: rgb(66, 66, 66);
  }
}
